<div class="ui-elem">
    <div id="body">
        <h2>Sobre</h2>

        <p>Tentei evitar ao máximo utilizar dependências externas (acabei utilizando, no fim, o Flex Layout, por estar mais habituado com ele e por questões de tempo).</p>

        <p>Isso acabou rendendo algumas dificuldades, como por exemplo o uso dos ícones em SVG. Para modificar o css deles como em casos de hover do mouse, a melhor solução que encontrei foi utilizar filters de css, pois a alternativa (xlink:href) foi depreciada pelo SVG2 e o Safari já não dá mais suporte.</p>

        <p>Para o algoritmo, utilizei primeiro uma verificação com programação dinâmica, para verificar se existe pelo menos uma combinação, e depois fiz um código simples para pegar a primeira combinação possível utilizando os maiores números.</p>
    </div>
</div>