<div id="body" class="ui-elem" fxLayout.lt-md="column">
    <div id="content" fxLayout="column" fxLayoutAlign.lt-md="center center" fxLayoutAlign.gt-sm="space-between start" fxFill>
        <div>
            <img src="../../../assets/Audaces_logo.svg"
                 alt="audaces logo"
                 [class.svg-white]="isDarkTheme"
                 [class.svg-accent-light]="!isDarkTheme">
            <nav>
                <div fxLayout="column" fxLayout.lt-md="row" fxLayoutGap.lt-md="5px" fxLayoutAlign.lt-md="center center">
                    <a routerLink="/test"><p>Teste</p></a>
                    <a routerLink="/about"><p>Sobre</p></a>
                </div>
            </nav>
        </div>

        <div fxShow fxHide.lt-md>
            <button (click)="toggleTheme()">Mudar tema</button>
        </div>
    </div>

    <div fxHide fxShow.lt-md id="floating">
        <button (click)="toggleTheme()">Mudar tema</button>
    </div>
</div>