<div id="body" class="ui-elem" fxLayout.lt-md="column">
    <div id="content" fxLayout="column" fxLayoutAlign.lt-md="center center" fxLayoutAlign.gt-sm="space-between start" fxFill>
        <div>
            <div id="logo">
                <img src="../../../assets/Audaces_logo.svg"
                alt="audaces logo"
                [class.svg-white]="isDarkTheme"
                [class.svg-accent-light]="!isDarkTheme">
            </div>
            <nav>
                <div fxLayout="column" fxLayout.lt-md="row" fxLayoutGap.lt-md="20px" fxLayoutAlign.lt-md="center center">
                    <app-navbar-button name="Teste" route="/test" icon="Home" [isDarkTheme]="isDarkTheme"></app-navbar-button>
                    <app-navbar-button name="Sobre" route="/about" icon="placeholder1" [isDarkTheme]="isDarkTheme"></app-navbar-button>
                </div>
            </nav>
        </div>

        <div fxShow fxHide.lt-md>
            <button (click)="toggleTheme()">Mudar tema</button>
        </div>
    </div>

    <div fxHide fxShow.lt-md id="floating">
        <button (click)="toggleTheme()">Mudar tema</button>
    </div>
</div>