<div id="main" fxLayout="row">
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap.gt-sm="26px" fxFill>
      <app-navbar fxFlex="15"></app-navbar>

      <div fxLayout="column" fxFlex="65" fxFlex.lt-md="85" id="middle">
        <div fxFlex="70">
          <router-outlet></router-outlet>
        </div>
        
        <div fxLayout="row" fxLayoutGap="26px">
          <p>teste</p>
          <p>teste</p>
        </div>

      </div>

      <!-- <app-vertical-ad fxFlex="20" fxShow fxHide.lt-md></app-vertical-ad> -->
      <p fxFlex="20">teste</p>
    </div>
</div>