<div id="main" fxLayout="row">
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap.gt-sm="26px" fxFill>
      <app-navbar fxFlex.lt-md="15"></app-navbar>

      <div fxLayout="column" fxFlex fxFlex.lt-md="85" id="middle">
        <div>
          <router-outlet></router-outlet>
        </div>
        
        <div fxLayout="row" fxLayout.lt-md="column"fxLayoutGap="10px">
          <app-social fxFlex="50" image="1"></app-social>
          <app-social fxFlex="50" image="2"></app-social>
        </div>

      </div>

      <app-vertical-ad fxFlex="20" fxShow fxHide.lt-md></app-vertical-ad>
  </div>
</div>