/* You can add global styles to this file, and also import other style files */
:root
    --background: #ffffff
    --foreground: #ffffff
    --primary: #000000
    --secondary: #000000BF
    --input-bg: #EAEAEA
    --accent: #E63A8A
    --accent-bg: #FFB7D91F
    --input-title: #00000099
    --input-text: #000000DE

.ui-elem
    background: var(--foreground)
    color: var(--primary)
    box-shadow: 0px 3px 12px #00000029
    margin-top: 26px
    height: 100%

body
    margin: 0
    padding: 0
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    font: normal normal medium 20px/24px Roboto

h1, p, a
    color: var(--primary)

.bg-image
    height: 100%
    background-size: cover

app-fav-button
    position: absolute
    top: 10px
    right: 10px

.svg-accent-dark
    filter: brightness(0) saturate(100%) invert(82%) sepia(22%) saturate(2658%) hue-rotate(289deg) brightness(107%) contrast(101%)

.svg-accent-light
    filter: brightness(0) saturate(100%) invert(36%) sepia(38%) saturate(2852%) hue-rotate(304deg) brightness(92%) contrast(96%)

.svg-secondary-dark
    filter: brightness(0) saturate(100%) invert(71%) sepia(7%) saturate(0%) hue-rotate(226deg) brightness(98%) contrast(83%)

.svg-secondary-light
    filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(29%) hue-rotate(66deg) brightness(107%) contrast(106%) opacity(75%)

.svg-white
    filter: brightness(0) saturate(100%) invert(100%) sepia(96%) saturate(527%) hue-rotate(310deg) brightness(125%) contrast(107%)